* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 2em;
/*ho usato max-width per bloccare l'intera card, togliendolo cresce insieme al viewport*/
    max-width: max-content;
    min-width: 15em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}

#image {
/*ho usato contents per eliminare una piccola linea bianca che usciva sotto l'immagine, ovvero tra l'immagine e il div che la contiene*/
    display: contents;
}

img {
/*responsive image*/
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
}

#container > section > div {
    border: 1px solid #dfdfdf;
    padding: 1em;
}

div > article {
    height: 7em;
}

.item {
    display: flex;
    align-items: center;
}

#link {
    display: flex;
    align-items: center;
    height: 2em;
}